/* sidebar */
.sidebar-user-left-steps {
    height: 170vh;
    background: linear-gradient(rgba(4, 62, 223, 0.877), rgba(36, 62, 136, 0.685));
    padding: 30px 0;
    width: 15%;
}

.logo {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.logo a {
    color: #fff;
}

.main-box .sidebar-user-left-steps ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,0,0.05);
}

.main-box .sidebar-user-left-steps ul li a{
    color: #ffffff;
}

.main-box .sidebar-user-left-steps ul li:hover {
    background: #411ef3;
}
.main-box .sidebar-user-left-steps ul li:hover a{
    color: #fff
}

/* steps */
.steps{
    padding: 30px 0 10px;
    margin: auto;
 }

 .steps-container {
     margin-bottom: 5rem;
 }

 .download-card-windows {
     margin-bottom: 5rem;
 }

.steps-image-savefile{
    width: 22rem;
    height: 10rem;
}

.steps-image-install{
    width: 22rem;
    height: 20rem;
}

.steps-image-imports{
    width: 22rem;
    height: 15rem;
}
