/* Content 1 */

.row{
    width: 100%;
}
.content1{
    padding: 5% 15%;
    padding-bottom: 0%;
    display: flex;    
}

.left-content1 {
    background-image: url(../Images/content4.jpg);
    background-size: 33rem;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-bottom: 6rem;
}

.right-content1 {
    width: 50%;
    padding-bottom: 6rem;
    padding-left: ;
}

.right-content1-h4{
    padding-top: 2rem;
    font-family: 'Dosis', sans-serif;
    color: rgb(87, 87, 209);
    font-size: 1.8rem;
}

.right-content1-h1{
    font-family: 'Dosis', sans-serif;
font-size: 2.8rem;
}

.right-content1-span{
    text-decoration: underline rgb(87, 87, 209);
}

.right-content1-text{
    font-family: 'K2D', sans-serif;
    margin-top: 2rem;
    font-weight: normal;
}

#btn-content1{
    margin: 2rem 0rem;
    border-radius: 30px;
}

.first-br{
    
    border-top: 12px  dotted rgb(87, 87, 209);
    margin: auto;
    size: 1rem;
    width: 7%;
    padding-bottom: 3rem;
    opacity: 0.5;
  
}
/* Content 2  */

.row2{
    width: 100%;
}
.content2{
    padding: 0% 15%;
    display: flex;  
    
}

.left-content2 {
    width: 50%;
    padding-bottom: 5rem;
}

.right-content2 {
    background-image: url(../Images/content1.jpg);
    background-size: 40rem;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-bottom: 5rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
    
}

.right-content2-h4{
    padding-top: 2rem;
    font-family: 'Dosis', sans-serif;
    color: rgb(87, 87, 209);
    font-size: 1.8rem;
}

.right-content2-h1{
    font-family: 'Dosis', sans-serif;
    font-size: 2.8rem;
}

.right-content2-span{
    text-decoration: underline rgb(87, 87, 209);
}

.right-content2-text{
    font-family: 'K2D', sans-serif;
    margin-top: 2rem;
    font-weight: normal;
}

#btn-content2{
    margin: 2rem 0rem;
    border-radius: 30px;
}

/* Content 3  */

.row3{
    width: 100%;
}
.content3{
    padding: 4% 15%;
    display: flex;    
}

.left-content3 {
    background-image: url(../Images/content3.jpg);
    background-size: 33rem;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-bottom: 6rem;
    /* margin-bottom: 1rem; */
}

.right-content3 {
    width: 50%;
    padding-bottom: 6rem;
    
}

.right-content3-h4{
    padding-top: 2rem;
    font-family: 'Dosis', sans-serif;
    color: rgb(87, 87, 209);
    font-size: 1.8rem;
}

.right-content3-h1{
    font-family: 'Dosis', sans-serif;
font-size: 2.8rem;
}

.right-content3-span{
    text-decoration: underline rgb(87, 87, 209);
}

.right-content3-text{
    font-family: 'K2D', sans-serif;
    margin-top: 2rem;
    font-weight: normal;
}

#btn-content1{
    margin: 2rem 0rem;
    border-radius: 30px;
}