
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Roboto+Slab&display=swap');
 
/* Content 1 */
#content {
    background-color: #eef3f8;
}

.btn {
    font-family: 'Roboto Slab', serif;
}

.content1{
    padding: 5% 15%;
    padding-bottom: 0%;
}

.left-content1 {
    background-image: url(../Images/content5.png);
    background-size: 33rem;
    background-repeat: no-repeat;
    padding-bottom: 8rem;
}

.right-content1 {
    padding-bottom: 8rem;
}

.right-content1-h4{
    padding-top: 2rem;
    font-family: 'Roboto Slab', serif;
    color: rgb(87, 87, 209);
    font-size: 1.8rem;
}

.right-content1-h1{
    font-family: 'Roboto Slab';
    font-size: 2.8rem;
}

.right-content1-text{
    font-family: 'Roboto Slab', serif;
    margin-top: 2rem;
    font-weight: normal;
}

#btn-content1{
    margin: 2rem 0rem;
    border-radius: 30px;
    height: 3.5rem;
    font-size: 1.5rem;
}

.first-br{
    border-top: 12px  dotted rgb(87, 87, 209);
    margin: auto;
    size: 1rem;
    width: 7%;
    padding-bottom: 3rem;
    opacity: 0.5; 
}

/* Content 2  */
.content2{
    padding: 5% 15%;
}

.left-content2 {
    padding-bottom: 8rem;   
}

.right-content2 {
    background-image: url(../Images/content1without.png);
    background-size: 40rem;
    background-repeat: no-repeat;
    padding-bottom: 6rem;
}

.right-content2-h4{
    padding-top: 2rem;
    font-family: 'Roboto Slab', serif;
    color: rgb(87, 87, 209);
    font-size: 1.8rem;
}

.right-content2-h1{
    font-family: 'Roboto Slab', serif;
    font-size: 2.8rem;
}

.right-content2-text{
    font-family: 'Roboto Slab', serif;
    margin-top: 2rem;
    font-weight: normal;
}

#btn-content2{
    margin: 2rem 0rem;
    border-radius: 30px;
    height: 3.5rem;
    font-size: 1.5rem;   
}

/* Content 3  */

.row3{
    width: 100%;
}

.content3{
    padding: 3% 15%;
    display: flex;        
}

.left-content3 {
    background-image: url(../Images/content3without.png);
    background-size: 34rem;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-bottom: 6rem;
    margin-left: -4rem;
    margin-right: 4rem;
}

.right-content3 {
    width: 50%;
    padding-bottom: 6rem;   
}

.right-content3-h4{
    padding-top: 2rem;
    font-family: 'Roboto Slab', serif;
    color: rgb(87, 87, 209);
    font-size: 1.8rem;
}

.right-content3-h1{
    font-family: 'Roboto Slab', serif;
    font-size: 2.8rem;
}

.right-content3-text{
    font-family: 'Roboto Slab', serif;
    margin-top: 2rem;
    font-weight: normal;
}

#btn-content3{
    margin: 2rem 0rem;
    border-radius: 30px;
    height: 3.5rem;
    font-size: 1.5rem;
}

@media only screen and (max-width: 1100px) {
    .left-content1 {
        display: none;
    }
    
    .right-content2 {
        display: none;
    }
    .left-content2 {
        margin: auto;
    }
    .left-content3 {
        display: none;
    }
    .right-content3 {
        margin: auto;
    }    
}