/* Content 1 */

.row{
    width: 100%;
}
.content1{
    padding: 5% 15%;
    padding-bottom: 0%;
    display: flex;    
}

.left-content1 {
    background-image: url(../Images/content4.jpg);
    background-size: 28rem;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-bottom: 9rem;
}

.right-content1 {
    width: 50%;
    padding-bottom: 9rem;
}

.right-content1-h4{
    padding-top: 2rem;
    font-family: 'Dosis', sans-serif;
    color: rgb(87, 87, 209);
    font-size: 1.8rem;
}

.right-content1-h1{
    font-family: 'Dosis', sans-serif;
font-size: 2.8rem;
}

.right-content1-span{
    text-decoration: underline rgb(87, 87, 209);
}

.right-content1-text{
    font-family: 'K2D', sans-serif;
    margin-top: 2rem;
    font-weight: normal;
}

#btn-content1{
    margin: 2rem 0rem;
    border-radius: 30px;
}

/* Content 2  */

.row2{
    width: 100%;
}
.content2{
    padding: 0% 15%;
    display: flex;    
}

.left-content2 {
    width: 50%;
    padding-bottom: 10rem;
}

.right-content2 {
    background-image: url(../Images/content1.jpg);
    background-size: 38rem;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-bottom: 9rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.right-content2-h4{
    padding-top: 2rem;
    font-family: 'Dosis', sans-serif;
    color: rgb(87, 87, 209);
    font-size: 1.8rem;
}

.right-content2-h1{
    font-family: 'Dosis', sans-serif;
font-size: 2.8rem;
}

.right-content2-span{
    text-decoration: underline rgb(87, 87, 209);
}

.right-content2-text{
    font-family: 'K2D', sans-serif;
    margin-top: 2rem;
    font-weight: normal;
}

#btn-content2{
    margin: 2rem 0rem;
    border-radius: 30px;
}

