.moderator__chatContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
}

.main_content2{
    /* background-color: black; */
}

   /* sidebar */
   .sidebar {
    height: 100vh;
    background: linear-gradient(rgba(4, 62, 223, 0.877), rgba(36, 62, 136, 0.685));
    padding: 30px 0;
    width: 12vw;
   }

   .sidebar h3 {
       color: #ffffff;
       text-align: center;
   }
    
   .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,0,0.05);

   }

   .sidebar ul li a{
    color: #ffffff;

   }

   .sidebar ul li:hover {
    background: #411ef3;

   }
   .sidebar ul li:hover a{
    color: #fff
   } 

.moderator__chatLeftSide{
    background-color: white(8, 139, 15);
    width: 25vw;
    height: 100vh;
    
}

.moderator__chatRightSide{
    background-image:url("../Chat/Images/Team\ Meeting.png");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 60vw;
    position: relative;
    margin-bottom: 50px;
    background-size: 80%;
    background-repeat: no-repeat;
}

.moderator__Chatinput{
    padding: 8px;
    border-radius: 1px;
    width: 100%;
}

.moderator__usersChats{
    border: 1px solid rgb(192, 192, 192);
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 1px;
    cursor: pointer;
}


.moderator__userNameP{
    color: black;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-top: 0.3rem;
    line-height: 0rem;
    margin-left: 0.5rem;
}

.moderator__userDateSend{
    color: black;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8rem;
}

.moderator__userNameH5{
    top: 0;
    align-items: center;
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.moderator__userImg{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.moderator__chatRightImg{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.moderator__chatRightImage{
    background-color: white;
    padding: 10px;
}

.moderator__rightSideInputChat{
    position: absolute;
    bottom: -3rem;
    right: 0;

}

.moderator__rightSideInput{
    width: 60vw;
    padding: 10px;
    margin-top: 3rem;
}

.moderator__rightSideChats{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    color: white;
    border-radius: 15px;
    margin-right: 3rem;
   
}

.moderator__chatSideH5{
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(218, 140, 51);
    color: black;
}

.moderator__rightSideUserMessage{
    display: flex;
    justify-content: flex-start;
    margin-left: 3rem;
    color: white;
    border-radius: 15px;
}

.moderator__rightSideUserMessage1{
    display: flex;
    justify-content: flex-start;
    margin-left: 3rem;
    color: white;
    border-radius: 15px;
}

.moderator__rightSideUserMessage__next{
    display: flex;
    justify-content: flex-start;
    margin-left: 3rem;
    color: white;
    border-radius: 15px;
}

.moderator__chatSideUser{
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(56, 102, 163);
}
