.onePost__nav{
    background-color: blue;
    height: 40vh;
}

.onePost__headerText{
    text-align: center;
    color: white;
    align-items: center;
}

.onePost__postContainer{
    display: flex;
    justify-content: space-between;
}

.onePost__leftSide{
    margin-top: 3rem;
    width: 20%;
    position: fixed;
}

.onePost__rightSide{
    width: 80%;
    margin: 0rem 15rem;
}

.onePost__avantar{
    align-items: center;
    text-align: center;
    position: relative;
    right: 0.6rem;
}

.onePost__desc{
text-align: left;
align-items: left;
}

.onePost__ava{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid rgb(19, 161, 255);
    box-shadow: 1px 2px 1px 1px;
    margin-bottom: 1rem;
}

.onePost__image{
left: 15rem;
position: relative;
bottom: 7rem;

}

.onePost__h2{
text-align: center;
}

.onePost__p{
    text-align: center;
}

.onePost__p1{
    text-align: center;
    color: rgb(19, 113, 255);
}

.onePost__rightSideTexts{
text-align: left;
margin: 1rem 10rem;
}

.onePost__shareP{
    color: black;
    font-weight: bold;
    text-align: center;
}

.onePost__icons{
    text-align: center;
    align-items: center;
}

.onePost__fb{
    color: blue;

}

.onePost__twi{
    margin: 0rem 1rem;
    color: aqua;
}

.onePost__linked{
    color: rgb(9, 9, 134);
}

hr{
    margin: 1rem 5rem;
    text-align: center;
}

.onePost__img{
width: 1000px;
height: 450px;
object-fit: cover;
box-shadow: 2px 2px 2px 2px;
border-radius: 5px;

}

.onePost__h5{
    text-align: left;
}

.onePost__h5_cat{
    position: relative;
    left: 5.5rem;
 align-items: center;
    text-align: center;
    color: white;
    background-color: purple;
    border-radius: 50px;
    width: 49%;
    padding: 0.1rem;
    box-shadow: 2px 2px 1px 1px;
}


.onePost__comments{
    margin-top: 3rem;
    
}

.onePost__topTextAreaButton{
    margin-top: 0.5rem;
}

.topTextAreaBtn{
    padding: 15px;
    border: none;
    outline-style: none;
    background: blue;
    border-radius: 15px;
    color: white;
    transform: scale(0.98);
    box-shadow: 1px 3px 3px 1px;
}

.onePost__topTextH3Comment{
    margin-bottom: 3rem;
}

.onePost__topTextGnwmiH5{
    margin-bottom: 1rem;
}

.showComments{
    width: 60%;
    margin-top: 2rem;
}

.showComments__Topcontainer{
    background-color: rgb(52, 52, 250);
    padding: 40px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.showComments__bottomContainer{
    background-color: rgb(231, 231, 231);
    padding-bottom: 1rem;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.showCommentsDate{
    color: black;
    text-align: center;
    font-weight: bold;
}
p{
    color: black;
}

.onePost__h4comments{
    margin-top: 2rem;
}

.showComments__bottomP{
    padding: 4rem 3rem;
    color: black;
    font-size: 1.2rem;
}

.showComments__topTextH5{
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}

.showCommentsImage{
position: absolute;
margin-top: 1.2rem;
margin-left: 1rem;
left: 0;

}

.showComments__container{
position: relative;
margin-top: 2rem;

}

.showCommentsImg{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid blue;
    box-shadow: 1px 1px 1px 2px;
}