.post__h2{
    margin-top: 1rem;
}


.posts__p{
    color: black;
    text-align: center;
}

.posts{
margin: 1rem 1rem;
text-align: center;
align-items: center;
border-radius: 5px;
box-shadow: 5px 5px 5px 5px;
background-color: whitesmoke;
}

.post__image{
    width: 700px;
    height: 700px;
    object-fit: cover;
    border-radius: 0px;
    box-shadow: 5px 5px 5px 5px;
}

.getPosts{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}