.post__h2{
    margin-top: 1rem;
}


.posts__p{
    color: black;
    text-align: center;
}

.posts{
margin: 1rem 2rem;
text-align: center;
align-items: center;
border-radius: 5px;
box-shadow: 5px 5px 5px 5px;
background-color: whitesmoke;
}

.post__catergory{
    position: relative;
    text-align: center;
    color: white;
    background-color: purple;
    border-radius: 50px;
    right: 0.7rem;
    width: 17%;
    padding: 0.1rem;
    bottom: 1.1rem;
    box-shadow: 2px 2px 1px 1px;
}

.post__image{
    width: 700px;
    height: 400px;
    object-fit: cover;
    border-radius: 0px;
}

.getPosts{
background-color: rgb(221, 221, 221);
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.posts__search{
    background-color: rgb(221, 221, 221);
    align-items: right;
    width: 100%;
    text-align: right;
    padding: 2rem 12.4rem;
}

.posts__searchInput{
    padding: 8px;
    padding-right: 4rem;
    border-radius: 5px;
    border: none;
    border: 1px solid blue;
}

.post__searchIcon{
    position: relative;
    right: 1.5rem;
}

