/* Title and Header  */
.main-header{
    height: 45rem;
    width: 100%;
    margin: 0;
    background: linear-gradient(217deg, #020524, rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, #001737, rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, #26456b, rgba(0,0,255,0) 70.71%); 
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;  
} 

#title-container{
   margin: 10rem 10rem;
}

#title-header1{
    font-family:'K2D', sans-serif;
    text-shadow: 4px 4px black;
    font-size: 3rem;
    color: white;
    margin: 40px auto;
}

#title-header2{
    font-family: 'K2D', sans-serif;
    color: white;
    text-shadow: 4px 4px black;
}

#btn-header{
    margin: 5rem 0rem;
    border-radius: 30px;
    height: 3.5rem;
    font-size: 1.5rem;
}

p{
color: white;
}

/* image */
.header-img {
    background: url(../Images/security.png);
    background-repeat: no-repeat; 
    margin-top: 6rem;
}


@media only screen and (max-width: 780px) {
    .header-img {
       display: none;
    }

    #title-container {
        margin: 10rem 10rem;
        margin: auto;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .header-img {
      animation: skew 3s infinite;
      animation-direction: alternate;;
    }
}

@keyframes skew {
    0% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(5deg);
    }
    
}