.chat{
position: fixed;
align-items: right;
display: flex;
justify-content: flex-end;
top: 48rem;
right: 15rem;
z-index: 100;

}

.chat__container{
position: absolute;
}

.chat__h5{
    cursor: pointer;
}

.chat__showHelp{
    
    position: fixed;
    background-color: rgb(56, 102, 163);
    padding: 15px;
    color: white;
    border-radius:5px ;
}

.chat__showHelp__after{
    display: none;
    position: fixed;
    background-color: rgb(56, 102, 163);
    padding: 15px;
    color: white;
    border-radius:5px;
}

.chat__displayMessages{
    border: 1px solid black;
    height: 40vh;
    width: 20vw;
    overflow-y: scroll;
    max-width: 38.2vh;
}

.chat__Chat{
    position: fixed;
    display: none;
}

.chat__Chat__after{
    
   position: fixed;
   display: contents;
}

.chat__moderatorMessage, .chat__moderatorP{
    display: flex;
    justify-content: flex-end;
    margin-left: 0.5rem;
    padding: 0.5rem;
    color: rgb(231, 229, 229);
    background-color: rgb(56, 102, 163);
    border-radius: 10px;
    font-size: 1rem;
}

.chat__moderatorMessage{
    font-weight: 300;
}

.chat__moderatorP{
    color: white;
    font-size:1.2rem;
    font-weight: 900;  
}

.chat__userMessage, .chat__userP{
    display: flex;
    justify-content: flex-start;
    margin-right: 0.5rem;
    color: rgb(231, 229, 229);
    background-color: rgb(52, 52, 53); 
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
}

.chat__userMessage{
    font-weight: 300;
}

.chat__userP{
    color: white;
    font-size:1.2rem;
    font-weight: 900;
}

.showModeratorChats{
    width: 100%;
    flex-wrap: wrap;
}

.chat__display{
    position: relative;
    bottom: 27rem;
    left: 13rem;
}

.chat__input{
    padding-bottom: 1rem;
    width: 20vw;
    display: flex;
}

.chat__minimize{
    background-color: rgb(56, 102, 163);
    height: 2rem;
    color: white;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid black;
    
}

.chat__displayMessages{
    background-color: black;
    background-image: url(../Index/Images/security.png);
    background-size: 100%;
    width: 100%;
}

.chatbtn{
    width: 20%;
    color: white;
    background-color: rgb(56, 102, 163);
}