.blog__headerContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blog__headerImg{
    width: 500px;
    height: 500px;
    padding-bottom: 5rem;
}

.blog__headerH3{
    font-size: 3rem;
    color: white;
}
.blog__headerP {
    padding-bottom: 2rem;
}


@media only screen and (max-width: 1500px) {
    .blog__headerP {
        padding-bottom: 5rem;
    }
}

@media only screen and (max-width: 1100px) {
    .blog__headerH3 {
      font-size: 1.5rem;
    }
    .blog__headerP{
        font-size: 1rem;
        padding-bottom: 10rem;
    }
}

@media only screen and (max-width: 900px) {
    .blog__headerH3 {
        font-size: 1.3rem;
    }
      .blog__headerP{
          font-size: 0.8rem;
          padding-bottom: 10rem;
    }
    .blog__headerContainer{
        margin-left :150px;
    }
}

  