   .main-box {
    display: flex; 
    flex-wrap: wrap;
   }

   /* sidebar */
   .sidebar-user-left {
    height: 380vh;
    background: linear-gradient(rgba(4, 62, 223, 0.877), rgba(36, 62, 136, 0.685));
    padding: 30px 0;
    width: 15%;
   }
    
   .logo {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
   }

   .logo a {
    color: #fff;
   }

   .main-box .sidebar-user-left ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,0,0.05);

   }

   .main-box .sidebar-user-left ul li a{
    color: #ffffff;

   }

   .main-box .sidebar-user-left ul li:hover {
    background: #411ef3;

   }
   .main-box .sidebar-user-left ul li:hover a{
    color: #fff
   }
   
   /* middle of page */
   .main_content_middle {
      width: 45%;
      text-align: center;
      background-color: #eef3f8;
      }

        /* steps */
   .steps{
      padding: 30px 0 10px;
      margin: auto;
   }

   .steps-choose{
      padding-top: 5rem;
   }

   .steps-container {
       margin-bottom: 5rem;
   }

   .steps-image-savefile{
      width: 25rem;
      height: 10rem;
   }

   .steps-image-install{
      width: 25rem;
      height: 20rem;
   }

   .steps-image-imports{
      width: 25rem;
      height: 15rem;
   }

   
   /* right side of page */
   .main_content_user_right {  
    background-repeat: no-repeat;
    background-image: url(./social-media-marketing-colored-.png);
    width: 40%;
    background-color: #eef3f8;
   }
   
    /* download-card-windows */
   .download-card-title-windows{
      padding: 30px 0 10px;
      margin: auto;
   }
    
   .download-card-windows {
       width: 18rem;
       margin: auto;
       
   }
    .card-download-windows {
       margin: auto;
    }
    
    .download-card-header-windows {  
       border-radius: 5px 5px 2px 2px; 
       height: 18rem;
       background: url(./windows2.png),rgb(56, 55, 55);
       background-size: cover;
    }
    .download-card-body-windows {
       height: 5rem;
       background-color:gainsboro;
       border-radius: 0 0 5px 5px;
       padding-top: 20px;
       font-size: x-large;
    }
    .download-text {
       color: black;
    }

   @media (max-width: 660px) {
      .sidebar-user-left,  .main_content_middle {
        width: 100%;
      }
      .download-card-windows{
         width: 22rem;
      height: 15rem;
      }
    }