 .nav{
    position: sticky ; 
    top: -1px;
 }

.navbar{
    background-image: url('../Images/navbarpic.jpg');    
    margin: 0;  
    width: 100%;
    height: 2.8rem;
    z-index: 10;   
    padding: 1rem;
    
}   

.para{
    word-spacing: 200px;
}

.navbar-brand{
    font-family: 'Prosto One', cursive;
    font-size: 2rem;
    padding-left:1rem;
    font-weight: bold;
}

.nav-link{
    font-size: 1.1rem;
    margin-left: 3rem;
}
.navbar-nav{
    font-family: 'Prosto One', cursive;
    padding-right: 3rem;
    word-spacing: 200px;

}
.logo-img{
    /* background-color:white; */
    /* border-bottom-left-radius: 10%; */
    border-radius: 100%;
}

.navbar_container{
    width: 100%;
}