footer a {
    color: white;
    text-decoration: none;
}

footer dd :hover {
    color: grey;
}

footer a  :hover {
    color : grey
}

.btn {
    margin-left: 10px;
}

.info-email{
    color: grey;
}

.support-email{
    color: grey;
}