.blog__nav{
    
    background: linear-gradient(rgba(4, 62, 223, 0.877), rgba(36, 62, 136, 0.685));
    height: 60vh;
    padding-bottom: 1rem;
}

.blog__navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
}

.logo-blog{
    padding-bottom: 0.8rem;
}
.blog__navH2{
    color: white;
}

.blog__navUl{
    display: flex;
    
}

.blog__navLi{
    list-style: none;
}

.blog__navLink{
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    width: 100%;
}

.blog__navLink:hover {
    color:black;
    text-decoration: underline;
}

#createPost{
    display: none;
}

#moderatorPanel{
    display: none;
}

@media only screen and (max-width: 1300px) {
    .blog__navContainer{
        flex-direction: column;
    }
    .blog__navLeftSide{
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {
    .blog__navUl{
        font-size: small;
    }
}

@media only screen and (max-width: 600px) {
    .blog__navUl{
        font-size: 8px;
    }
}

  




