.blog__nav{
    
    background: linear-gradient(rgba(4, 62, 223, 0.877), rgba(36, 62, 136, 0.685));
    height: 60vh;
    padding-bottom: 1rem;
}

.blog__navContainer{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    align-items: center;
}

.logo-blog{
    padding-bottom: 0.8rem;
}
.blog__navH2{
    color: white;
}

.blog__navUl{
    display: flex;
    
}

.blog__navLi{
    list-style: none;
}

.blog__navLink{
    text-decoration: none;
    color: white;
    margin-left: 3rem;
}

#createPost{
    display: none;
}

#moderatorPanel{
    display: none;
}