/* IP Styles  */
.navIp{
    background-color: black;
    text-align: center;
    align-items: center;
    margin: auto;
    z-index: 10;
    position: relative;
}

.ispspan{
    color: red;
}

#getIp{
    height: 1.5rem;
    padding: 0;
    margin: 0;
}

@media(max-width:900px){
    #getIp {
        font-size: 10px;
    }
}

@media(max-width:550px){
    #getIp {
        font-size: 8px;
    }
}

