.privacy__container{
    display: flex;
    background-color:#eef3f8;
    padding-top: 2rem;
    padding-bottom: 6rem;
    /* height: 100vh; */
}

.privacy__LeftSide{
    width: 35%;
    text-align: center;
}

.privacy__rightside{
    width: 65%;
    padding-top: 5rem;
}

.privacy__content{
    width: 80%;
}

.privacy__title{
    padding-bottom: 5rem;
    font-weight: 800;
}

@media only screen and (max-width: 900px) {
    .privacy__container {
      flex-direction: column;
      align-items: center;
    }
  }