.register__container{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

.register__leftSide{
    width: 50%;
}

.register__rightSide{
    width: 50%;
}

.register__logo{
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.register__input{
    padding: 4px;
    width: 15rem;
    margin: 0.5rem 0;
}

#message{
    color: white;
}

.register__btn{
    outline-style: none;
    border: none;
    background: blue;
    color: white;
    padding: 4px;
    width: 5rem;
    border-radius: 5px;
}

.register__h2{
    color: white;
}

.register__button{
    margin-top: 0.5rem;
}