.blog__cat{
    background-color: rgb(221, 221, 221);
    padding-bottom: 0.5rem;
    width: 100%;
}

.blog__catul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__catli{
    list-style: none;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid blue;
    border-right: 0.5px solid ;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.blog__catlink{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    margin: 0rem 0rem;

}