@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
.blog__cat{
    background-color: rgb(221, 221, 221);
    padding-bottom: 0.5rem;
    width: 100%;
}

.blog__catul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 0;
}

.blog__catli{
    list-style: none;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid blue;
    border-right: 0.5px solid ;
    border-left: 0.5px solid blue;
    padding:20px 0;
    text-align: center;
    width: 100%;
    font-family: 'Gloria Hallelujah';
}

.blog__catlink{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-family: 'Gloria Hallelujah';

}