.blog__cat{
    background-color: blue;
    padding: 3rem;
}

.blog__catul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__catli{
    list-style: none;
}

.blog__catlink{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: 2rem 10rem;
}